@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
@keyframes slide-in {
  0% {
    transform: translateX(-110%);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  75% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader {
  40% {
    background-color: #9356DC;
  }
  94% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px);
    transform-origin: top;
    background-color: #FF79DA;
    animation-timing-function: ease-in-out;
  }
}
@keyframes drop {
  0% {
    animation-timing-function: ease-in;
  }
  20% {
    transform: translateY(100px);
    animation-timing-function: ease-out;
  }
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes bounce-up {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  1% {
    opacity: 1;
  }
  78% {
    opacity: 1;
    transform: translateY(0);
  }
  82% {
    transform: translateY(100px);
    opacity: 1;
    animation-timing-function: ease;
  }
  100% {
    opacity: 1;
    transform: translateY(-1000px);
  }
}
.button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
  background-image: linear-gradient(#FF79DA, #9356DC);
  border: none;
  padding: 16px;
  width: 200px;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 500ms ease 100ms, opacity 500ms ease;
}
.button:hover {
  opacity: 0.85;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.header div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;
}
.header__logo {
  background-color: #FFFFFF;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__input {
  background-color: #EAEAEA;
  gap: 15px;
}
.header i {
  color: #353535;
}
.header input {
  background-color: #EAEAEA;
  border: none;
}
.header input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  margin: 0;
}
.header input::placeholder {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  margin: 0;
}
.header a {
  position: absolute;
  left: 0px;
  padding: 0 0 0 30px;
  width: 25px;
}

.footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 22px 25px 22px 25px;
}
.footer__logo {
  font-size: 18px;
  color: #FFFFFF;
}
.footer div {
  padding: 9px 0 0 0;
}
@media screen and (min-width: 800px) {
  .footer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 80px;
  }
}
.footer ul {
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 800px) {
  .footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 7%;
  }
}
.footer li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #FFFFFF;
  margin: 0;
  list-style-type: none;
  padding: 7px 0 0 0;
}
.footer li i {
  color: #FFFFFF;
}
@media screen and (min-width: 800px) {
  .footer li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    white-space: nowrap;
  }
}
.footer .footer__iconlist li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 0;
  margin-left: 25px;
}
@media screen and (min-width: 800px) {
  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 60px 25px 30px 25px;
    gap: 8%;
  }
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  position: fixed;
  width: 100%;
  height: 100%;
  padding: 0;
  animation: loader 3.7s ease forwards;
  z-index: 1;
}
.loader h1 {
  font-size: 2.5em;
  color: #FFFFFF;
  transform: translateY(-1000px);
}
.loader .oh {
  animation: drop 1400ms ease 100ms;
}
.loader .my {
  animation: drop 1400ms ease 450ms;
}
.loader .food {
  animation: drop 1400ms ease 850ms;
}
.loader .ohmyfood {
  position: absolute;
  animation: bounce-up 2000ms ease both 1500ms;
}

body {
  padding: 0;
  margin: 0;
}
body h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
}
body a {
  text-decoration: none;
  color: #FFFFFF;
  width: 100%;
}
body h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

section {
  padding: 30px 20px 60px 20px;
  display: flex;
  flex-direction: column;
}
section h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin: 20px 5px 20px 5px;
}
@media screen and (min-width: 1000px) {
  section {
    padding: 40px 180px 60px 180px;
  }
}

.reservez {
  background-color: #F6F6F6;
  padding: 30px 10px 60px 10px;
  align-items: center;
  text-align: center;
}
.reservez h2 {
  width: 80%;
}
.reservez__subheading {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
  margin: 0;
  width: 90%;
  padding: 0 0 30px 0;
}
@media screen and (min-width: 1000px) {
  .reservez {
    padding: 30px 10px 40px 10px;
  }
  .reservez h2 {
    font-size: 40px;
    padding: 0 0 10px 0;
  }
  .reservez p {
    padding: 0 0 40px 0;
  }
}

.fonc-card-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

.fonctionnement {
  max-width: 475px;
  margin: auto;
}
@media screen and (min-width: 1000px) {
  .fonctionnement {
    margin: 0;
    max-width: none;
  }
}
.fonctionnement__card {
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #F6F6F6;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7%;
  margin: 10px 0 14px 0;
  padding: 10px 15px 10px 10px;
  position: relative;
  width: 95%;
}
.fonctionnement__card .fa-store {
  color: #9356DC;
}
.fonctionnement__card div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  border-radius: 50px;
  width: 25px;
  height: 25px;
  position: absolute;
  left: -10px;
}
.fonctionnement__card div p {
  margin: 0;
  color: #FFFFFF;
}
.fonctionnement__card p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  margin: 15px 0 15px 0;
}
.fonctionnement__card i {
  color: #7E7E7E;
  padding: 0 0 0 8%;
}
@media screen and (min-width: 1000px) {
  .fonctionnement .fonc-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3%;
  }
}

.restaurants {
  background-color: #F6F6F6;
}
@media screen and (min-width: 800px) {
  .restaurants {
    margin: 0;
    max-width: none;
    padding: 30px 100px 60px 100px;
  }
}
@media screen and (min-width: 1000px) {
  .restaurants {
    padding: 40px 180px 60px 180px;
  }
}
.restaurants__content {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 475px;
  margin: auto;
  width: 100%;
}
@media screen and (min-width: 800px) {
  .restaurants__content {
    max-width: none;
    margin: 0;
  }
}

@media screen and (min-width: 800px) {
  .rest-card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 4%;
  }
}

.rest-card {
  border-radius: 15px;
  box-shadow: none;
  background-color: #FFFFFF;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
}
.rest-card a {
  display: block;
}
.rest-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 174px;
  border-radius: 15px 15px 0 0;
}
.rest-card p {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  margin: 5px 0 0 0;
}
.rest-card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 16px 13px;
}
.rest-card__content .hearts-wrapper {
  position: relative;
}
.rest-card__content svg {
  position: absolute;
  top: 5px;
  right: 12px;
  width: 22px;
}
.rest-card__content .liked {
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease;
}
.rest-card__content .liked:hover {
  opacity: 1;
}
.rest-card__badge {
  position: absolute;
  top: 13px;
  right: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #99E2D0;
  padding: 7px 9px;
  width: 80px;
  box-sizing: border-box;
}
.rest-card__badge p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #008766;
  margin: 0;
}
@media screen and (min-width: 800px) {
  .rest-card {
    width: 46%;
    margin-bottom: 50px;
  }
}

.image {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.image img {
  max-height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 15px;
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  max-width: 1055px;
  margin: auto auto -50px auto;
}
.restaurant__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  width: 90%;
  max-width: 350px;
  margin: auto;
}
.restaurant__title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin: 0;
  font-size: 28px;
}
.restaurant a {
  align-self: center;
  margin: 30px 0 20px 0;
}

.menu {
  width: 100%;
  margin: auto;
  max-width: 600px;
}
.menu__course {
  margin: 0 0 15px 0;
  padding: 30px 0 0 0;
  position: relative;
  width: 40px;
  height: 26px;
  border-bottom: 3px solid #99E2D0;
  animation: slide-up 1000ms ease 100ms backwards;
}
.menu__course h3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #000000;
  margin: 0;
  text-transform: uppercase;
  position: absolute;
}
.menu__group {
  width: 100%;
}

.hearts-wrapper {
  position: relative;
  width: 22px;
}

svg {
  position: absolute;
  top: -10px;
  width: 22px;
}

.liked {
  z-index: 1;
  opacity: 0;
  transition: opacity 500ms ease;
}
.liked:hover {
  opacity: 1;
}

.menu-item {
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 12px;
  gap: 0px;
  position: relative;
  min-width: 0;
  overflow: hidden;
  animation: 500ms ease-out backwards slide-in;
}
.menu-item--1 {
  animation-delay: 850ms;
}
.menu-item--2 {
  animation-delay: 1050ms;
}
.menu-item--3 {
  animation-delay: 1250ms;
}
.menu-item--4 {
  animation-delay: 1450ms;
}
.menu-item:hover h5 {
  transform: translateX(-59px);
}
.menu-item:hover .menu-item__check {
  right: 0;
}
.menu-item:hover h4, .menu-item:hover p {
  width: calc(100% - 59px);
}
.menu-item h5 {
  padding: 0 15px 15px 5px;
  transition: transform 500ms ease;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}
.menu-item h4 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #000000;
  margin: 0;
}
.menu-item p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #000000;
  margin: 0;
}
.menu-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 5px;
  padding: 12px 0 12px 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.menu-item__content h4, .menu-item__content p {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  transition: width 250ms ease;
}
.menu-item__check {
  border-radius: 0 15px 15px 0;
  height: 73.5px;
  width: 59px;
  background-color: #99E2D0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -59px;
  transition: right 500ms ease 50ms;
}
.menu-item__check i {
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */