.footer {
    background-color: $graphite;
    display: flex;
    flex-direction: column;
    padding: 22px 25px 22px 25px;

    &__logo {
        width: 140px;
        padding: 0 0 9px 0;
        filter: invert(1);
    }

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        @include text ($size: 16px, $weight: 400, $color: $white);
        list-style-type: none;
        padding: 7px 0 0 0;
        i {
            color: $white;
        }
    }

    .footer__iconlist {
        li {
        @include text ($size: 16px, $weight: 500, $color: $white);
        margin-left: 25px;
        }
    }
}