.header {
    div {
        @include flex ($direction: row, $justify: center);
        padding: 10px 0 10px 0;
    }
    &__logo {
        background-color: $white;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
    }    
    &__input {
        background-color: $dark-grey;
        gap: 15px;
    }
    i {
        color: $graphite;
    }
    input {
        background-color: $dark-grey;
        border: none;

        &::placeholder {
           @include text ($size: 16px, $color: $graphite);
        }
    }
    a {
        position: absolute;
        left: 0px;
        padding: 0 0 0 30px;
        width: 25px;
    }
}