.loader {
    @include flex ($direction: row, $justify: center);
    background-color: $purple;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    animation: loader 3.7s ease forwards;
    z-index: 1;
    h1 {
        font-size: 2.5em;
        color: $white;
        transform: translateY(-1000px);
    }
    .oh {
        animation: drop 1400ms ease 100ms; 
    }
    .my {
        animation: drop 1400ms ease 450ms;
    }
    .food {
        animation: drop 1400ms ease 850ms;
    }
    .ohmyfood {
        position: absolute;
        animation: bounce-up 2000ms ease both 1500ms;
    }
}