
@mixin rectangle-card ($color: $white, $radius: 20px, $padding: 10px, $shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15) ) {
    border-radius: $radius;
    box-shadow: $shadow;
    background-color: $color;
    padding: $padding;
}

@mixin text ($size: 18px, $weight: 500, $color: $black, $margin: 0) {
    font-family: $roboto;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    margin: $margin;
}

@mixin flex ($direction: column, $justify: space-between, $align: center){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}