@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap');

$roboto: 'Roboto', sans-serif;
$shrikhand: 'Shrikhand', cursive;

$black: #000000;
$graphite: #353535;
$dark-grey: #EAEAEA;
$light-grey: #F6F6F6;
$purple: #9356DC;
$pink: #FF79DA;
$white: #FFFFFF;