.header {
    div {
        display: flex;
        justify-content: center;
        padding: 15px 0 15px 0;
    }
    &__logo {
        background-color: $white;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
        position: relative;
    }    
    &__input {
        background-color: $dark-grey;
        gap: 15px;
    }
    
    input {
        background-color: $dark-grey;
        border: none;

        &::placeholder {
           @include homepage-text ($graphite)
        }
    }

}